<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"> <!-- IMPORTANDO O THYMELEAF -->
	  
	<head>
		<title>EventosApp</title>
	</head>
	
	<body>
		<h1>Cadastro de Eventos</h1>
		<form method="POST">
			Nome: <input type="text" value="" name="nome"/><br><br>
			Local: <input type="" value="" name="local"/><br><br>
			Data: <input type="date" value="" name="data"/><br><br>
			Horario: <input type="time" value="" name="horario"/><br><br>

			<button type="submit">Salvar</button>
		</form>
	</body>

</html>